<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Js Crud</title>
    <!-- ALL CSS FILES  -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/iao-alert.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <style>
        .wrap-table table tr td {
            vertical-align: middle !important;
            padding: 3px 5px;
            font-size: 13px;
        }
    </style>

</head>

<body>
    <section id="root">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <div class="box shadow px-3 search-bar">
                        <h2 class="pt-3">Search Your Job</h2>

                        <hr>

                        <h5>Recent Search</h5>
                        <ul class="list-group">
                            <li class="list-group-item"> <a class="text-success" href="">1. Wordpress Website </a></li>
                            <li class="list-group-item"> <a class="text-success" href="">2.  Website Design</a></li>
                            <li class="list-group-item"> <a class="text-success" href="">3. Php Developer</a></li>
                        </ul>

                        <br>
                        <Br>
                        <h5>Search by Catagories</h5>
                        <input type="checkbox"> <label class="checke">WordPress</label><br>
                        <input type="checkbox"> <label class="checke">Programing</label><br>
                        <input type="checkbox"> <label class="checke">Data Entry</label><br><br><br>



                        <h5>Job Budget</h5>
                        <div class="slidecontainer">
                            <input @change="searchrange" v-model="search.range" type="range" min="100" max="1000" value="50" class="slider" id="myRange"><br>
                            <p>Budget:<span>{{ search.range }}</span></p>
                        </div>

                        <br>
                        <br>
                        <h5>Search by Location</h5>
                        <input @click="searchRemote()" value="Remote" type="checkbox" v-model="search.Remote"> <label class="checke">Remote</label><br>
                        <input @click="searchWorld()" value="World Wide" type="checkbox" v-model="search.World"> <label class="checke">World Wide</label><br>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wrap-table shadow">
                        <div class="card">
                            <div class="card-header">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <input v-model="search.txt" @keyup="searchtxt" style="width: 613px;" type="text" class="form-control" id="inputPassword2" placeholder="Search your job">
                                    </div>
                                    <button @submit="searchtxtBtn(search.txt)" type="submit" class="btn btn-success" style="width: 140px;">Search Job</button>
                                </form>
                            </div>
                            <div class="card-body">
                                <h2>All Data</h2>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Catgeory</th>
                                            <th>Budget</th>
                                            <th>Location</th>
                                            <th>File</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(jobs , i) in job">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ jobs.title }}</td>
                                            <td>{{ jobs.category }}</td>
                                            <td class="badge badge-info mt-3 ml-3">${{ jobs.budget }}</td>
                                            <td>{{ jobs.location }}</td>
                                            <td><img :src="'photo/' + jobs.file" alt=""></td>
                                            <td>
                                                <button @click="card = !card ; singleData(jobs.id)" class=" text-light btn btn-sm btn-info"><i
                                                class="fas fa-eye"></i></button>


                                                <button @click="editData(jobs.id)" class="btn btn-sm btn-warning" href="#"><i
                                                class="fas fa-edit"></i></button>


                                                <button @click="deleteData(jobs.id , $event)" class="btn btn-sm btn-danger"><i
                                                class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>





                </div>
                <div class="col-md-2">
                    <div class="box shadow px-3">
                        <h3 class="pt-3">Add Job Post</h3>

                        <hr>
                        <div v-if="form">
                            <div class="form-group">
                                <label for="">Job Title</label>
                                <input v-if="" v-model="job.title" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea v-model="job.description" name="" id="" cols="20" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Catagory</label>
                                <select v-model="job.category" class="form-control" name="" id="" multiple>
                                    <option value="--Catagory--">--category--</option>
                                    <option value="Data Entry">Data Entry</option>
                                    <option value="WordPress">WordPress</option>
                                    <option value="programming">programming</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Budget</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input v-model="job.budget" type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">Location</label><br>
                                <input v-on:click="seen = !seen" v-model="job.location" value="Remote" type="radio" name="location" id="Remote">
                                <label for="Remote">Remote</label>
                                <input v-on:click="seen = false" value="World Wide" v-model="job.location" type="radio" name="location" id="World">
                                <label for="Wprld">World Wide</label>
                            </div>

                            <div class="form-group" v-if="seen">
                                <label for="">Remote Location</label>
                                <input v-model="job.state" class="form-control" type="text">
                            </div>

                            <div class="form-group">
                                <label for="">Attach File (Optional)</label>
                                <input ref="file" class="form-control" type="file">
                            </div>

                            <div class="form-group">
                                <input v-model="job.check" type="checkbox" id="check" name="check">
                                <label for="check" style="font-size:12px;">I agree to terms and conditions</label>
                            </div>
                            <div class="form-group">
                                <input @click="postjob()" class="btn btn-success" type="submit" value="Post Your Job">
                            </div>
                        </div>

                        <div v-else>
                            <button @click="enable()" class="mb-2 btn btn-sm btn-success">Add New Job</button>
                            <div class="form-group">
                                <label for="">Job Edit Title</label>
                                <input v-model="edit.title" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea v-model="edit.description" name="" id="" cols="20" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Catagory</label>
                                <select v-model="edit.category" class="form-control" name="" id="" multiple>
                                    <option value="--Catagory--">--category--</option>
                                    <option value="Data Entry">Data Entry</option>
                                    <option value="WordPress">WordPress</option>
                                    <option value="programming">programming</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Budget</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input v-model="edit.budget" type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">Location</label><br>
                                <input v-on:click="seen = !seen" value="Remote" type="radio" name="location" id="Remote">
                                <label for="Remote">Remote</label>


                                <input v-on:click="seen = false" value="World Wide" type="radio" name="location" id="World">
                                <label for="Wprld">World Wide</label>
                            </div>

                            <div class="form-group" v-if="seen">
                                <label for="">Remote Location</label>
                                <input v-model="edit.state" class="form-control" type="text">
                            </div>

                            <div class="form-group">
                                <label for="">Attach File (Optional)</label>
                                <input ref="edit.file" class="form-control" type="file">
                            </div>

                            <div class="form-group">
                                <input v-model="edit.check" type="checkbox" id="check" name="check">
                                <label for="check" style="font-size:12px;">I agree to terms and conditions</label>
                            </div>
                            <div class="form-group">
                                <input @click="postjob()" class="btn btn-success" type="submit" value="Post Your Job">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Single Dta show model -->

        <transition name="slide">
            <div class="card cusom-crud" v-if="card">
                <div class="card-header">
                    <a href="" target="_blank"><i class="fas fa-long-arrow-alt-left text-dark text-black-50 pr-4"></i>Open in a new tab</a>
                    <a href="" class="close" data-dismiss="card">&times;</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ single.title }}</h5>
                    <h6 class="badge badge-success">${{ single.budget }}</h6>
                    <h6 class="badge badge-info">{{ single.location }}</h6>
                    <h6 class="badge badge-warning" v-if="single.state != '' ">{{ single.state }}</h6><br>


                    <p class="card-text">{{ single.description }}</p>
                    <ul>
                        <li>{{ single.category }}</li>
                    </ul>

                    <img style="width: 300px;" :src="'photo/' + single.file" alt=""> <br> <br>

                    <a href="#" class="btn btn-success">Apply Now</a>
                </div>
            </div>


        </transition>



    </section>



    <!-- JS FILES  -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/sweetalert.min.js"></script>
    <script src="assets/js/iao-alert.jquery.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vue-router.js"></script>

    <script src="assets/js/custom.js"></script>


    <script>
        const root = new Vue({
            el: '#root',
            data: {
                job: {
                    title: "",
                    description: "",
                    budget: "",
                    location: "",
                    state: "",
                    category: [],
                    file: "",
                    check: "",

                },
                single: {
                    title: "",
                    description: "",
                    budget: "",
                    location: "",
                    state: "",
                    category: [],
                    file: "",
                    check: "",

                },
                edit: {
                    title: "",
                    description: "",
                    budget: "",
                    location: "",
                    state: "",
                    category: [],
                    file: "",
                    check: "",

                },
                search: {
                    txt: "",
                    range: "",
                    Remote: "",
                    World: "",
                },
                seen: false,
                card: false,
                form: true,
            },

            methods: {

                // Show all data

                showAllData: function() {

                    axios.get('inc/job.php?action=index').then(function(response) {
                        root.job = response.data;
                    });

                },

                // Data Insert to Database
                postjob: function() {

                    // get input value through new formData
                    let jobdata = new FormData();
                    jobdata.append('title', root.job.title);
                    jobdata.append('description', root.job.description);
                    jobdata.append('budget', root.job.budget);
                    jobdata.append('location', root.job.location);
                    jobdata.append('check', root.job.check);
                    jobdata.append('category', root.job.category);
                    jobdata.append('state', root.job.state);
                    root.job.file = root.$refs.file.files[0];
                    jobdata.append('file', root.job.file);



                    // if (this.job.title == "") {
                    //     $.iaoAlert({
                    //         msg: "All Fields are required !",
                    //         type: "notification",
                    //         mode: "dark",
                    //         type: "error",
                    //         autoHide: true,
                    //         alertTime: "3000",
                    //         fadeTime: "500",
                    //         closeButton: true,
                    //         closeOnClick: false,
                    //         position: 'top-right',
                    //         fadeOnHover: true,
                    //         roundedCorner: true,
                    //         zIndex: '999'

                    //     });

                    // } 
                    if (root.job.description == "") {

                        $.iaoAlert({
                            msg: "All Fields are required!",
                            type: "notification",
                            mode: "dark",
                            type: "error",
                            autoHide: true,
                            alertTime: "3000",
                            fadeTime: "500",
                            closeButton: true,
                            closeOnClick: false,
                            position: 'top-right',
                            fadeOnHover: true,
                            roundedCorner: true,
                            zIndex: '999',

                        });


                    } else if (root.job.file.size > 1024 * 1024) {
                        $.iaoAlert({
                            msg: "File size is too big to upload you should upload less then 1 MB!",
                            type: "notification",
                            mode: "dark",
                            type: "error",
                            autoHide: true,
                            alertTime: "3000",
                            fadeTime: "500",
                            closeButton: true,
                            closeOnClick: false,
                            position: 'top-right',
                            fadeOnHover: true,
                            roundedCorner: true,
                            zIndex: '999',

                        });


                    } else {
                        // Request axios
                        axios.post('inc/job.php?action=store', jobdata, {
                            header: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(function(data) {

                            root.showAllData();
                            root.job.title = "";
                            root.job.description = "";
                            root.job.budget = "";
                            root.job.location = "";
                            root.job.state = "";
                            root.job.check = "";
                            root.job.category = "";
                            root.$refs.file.files[0] = "";
                            $.iaoAlert({
                                msg: "Your Job Posted Successfully !",
                                type: "notification",
                                mode: "dark",
                                type: "success",
                                autoHide: true,
                                alertTime: "3000",
                                fadeTime: "500",
                                closeButton: true,
                                closeOnClick: false,
                                position: 'top-right',
                                fadeOnHover: true,
                                roundedCorner: true,
                                zIndex: '999',

                            });



                        });
                    }
                },

                // Delete data Methods

                deleteData: function(id, event) {

                    event.preventDefault();

                    swal({
                            title: "Are you sure?",
                            text: "Once deleted, you will not be able to recover this Data!",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                        .then((willDelete) => {
                            if (willDelete) {
                                axios.get('inc/job.php?action=delete&id=' + id).then(function(response) {
                                    root.showAllData();
                                    console.log(response.data);
                                    $.iaoAlert({
                                        msg: "Your Job Deleted Successfully !",
                                        type: "notification",
                                        mode: "dark",
                                        type: "warning",
                                        autoHide: true,
                                        alertTime: "3000",
                                        fadeTime: "500",
                                        closeButton: true,
                                        closeOnClick: false,
                                        position: 'top-right',
                                        fadeOnHover: true,
                                        roundedCorner: true,
                                        zIndex: '999',

                                    });
                                });
                            } else {
                                $.iaoAlert({
                                    msg: "Your Job is live now!",
                                    type: "notification",
                                    mode: "dark",
                                    type: "success",
                                    autoHide: true,
                                    alertTime: "3000",
                                    fadeTime: "500",
                                    closeButton: true,
                                    closeOnClick: false,
                                    position: 'top-right',
                                    fadeOnHover: true,
                                    roundedCorner: true,
                                    zIndex: '999',

                                });
                            }
                        });


                },

                // single data show

                singleData: function(id) {
                    axios.get('inc/job.php?action=show&id=' + id).then(function(response) {
                        console.log(response.data);
                        root.single = response.data;
                    });
                },


                // Edit data show
                editData: function(id) {
                    axios.get('inc/job.php?action=edit&id=' + id).then(function(response) {
                        root.form = false;
                        console.log(response.data);
                        root.edit = response.data;
                    });
                },

                // Search by txt

                searchtxt: function() {
                    let txt = root.search.txt;
                    axios.get('inc/job.php?action=searchtxt&txt=' + txt).then(function(response) {
                        root.job = response.data;
                    });
                },
                // Search by txt Button

                searchtxtBtn: function(txt) {
                    axios.get('inc/job.php?action=searchtxtBtn&txt=' + txt).then(function(response) {
                        root.job = response.data;
                    });
                },

                // Search by txt Button

                searchrange: function() {
                    let txt = root.search.range;
                    axios.get('inc/job.php?action=searchtxtrange&txt=' + txt).then(function(response) {
                        root.job = response.data;
                    });
                },

                // Search by txt Button

                searchRemote: function() {

                    if (root.search.Remote = true) {
                        let txt = 'Remote';
                        axios.get('inc/job.php?action=searchRemote&txt=' + txt).then(function(response) {
                            root.job = response.data;
                        });
                    }

                },
                // Search by txt Button

                searchWorld: function() {

                    if (root.search.World = true) {
                        let txt = 'World Wide';
                        axios.get('inc/job.php?action=searchWorld&txt=' + txt).then(function(response) {
                            root.job = response.data;
                        });
                    }

                },

                enable: function() {
                    root.form = true;
                },
            },

            created: function() {
                this.showAllData();
            },
        });
    </script>



</body>

</html>